@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-void: #000000;
  --bg-base: #000000;
  --bg-surface: #090909;
  --bg-raised: #000000;
  --bg-hover: #000000;
  --border: rgba(255, 255, 255, 0.04);
  --border-mid: rgba(255, 255, 255, 0.08);
  --border-hi: rgba(255, 255, 255, 0.13);
  --accent: #074d86;
  --accent-bright: #1a7fd4;
  --accent-dim: rgba(7, 77, 134, 0.14);
  --accent-glow: rgba(7, 77, 134, 0.07);
  --text-1: #eceae6;
  --text-2: #7a7d8a;
  --text-3: #42454f;
  --text-4: #252830;
  --font-display: "Syne" ,sans-serif;
  --font-body: "Syne" ,sans-serif;
  --font-mono: "DM Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body,
#root {
  background: var(--bg-void) !important;
  font-family: var(--font-body);
  color: var(--text-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border-mid);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--border-hi);
}